body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


table {
    border-collapse: collapse;
    margin: 5px;
   
}

th{
    padding: 5px;
} 

tr:nth-child(even){
    background-color: rgba(0, 0, 0, .075);
}


td{
    text-align: center;
    padding: 7px;
}


.btn-edit {
    text-decoration: none;
    padding: 4px;
    margin: 5px;
    width: 200px;
    height: 200px;
    background-color: rgb(70, 144, 255);
    border-radius: 10px;
    color: white;
}

.btn-delete{
    text-decoration: none;
    padding: 4px;
    width: 200px;
    height: 200px;
    background-color: rgb(207, 63, 63);
    border-radius: 10px;
    color: white;
}

.btn-add-user{
    text-decoration: none;
    
}